
@{
    ViewBag.Title = "SocialEngineeringThree";
}

<h2><u>The types of Social Engineering Attacks and how they work</u></h2>

<p>There are multiple forms of Social Engineering attacks and the ones that will be covered here are: </p>

<br />

<h2><u>Baiting</u></h2>
<img class="img-responsive" src="~/images/baiting.jpg" alt="Image of SE Attack">

