
@{
    ViewBag.Title = "SocialEngineeringTwo";
}

<h2><u>A more in depth look at Social Engineering</u></h2>
<p>Here we will look more in depth Social Engineering in general, why it's so effective and a high profile case of an attack. As well as explaining the life cycle of Social Engineering.</p>
<br />
<section>
    <p>
        Social Engineering is effective because the techniques used are based on certain attributes of human decision making which are known as Cognitive Biases.Cherry (2020) gives the definition of a cognitive bias stating that "A cognitive bias is a systematic error in thinking that affects the decisions and judgments that people make." Cognitive Bias is a flaw all humans share and this is what Social Engineering attacks exploit. Cognitive Bias occurs as a result of your brain's attempt to simplify information processing. There are different types of cognitive bias's such as: Confirmation Bias, Anchoring Bias and The Dunning-Kruger Effect. There is a lot of information online about these Biases and how they effect the mind but that is beyond the scope of this module, all we need to know is that attackers commonly create attacks which exploit these biases so they can get the Data or disruption that they want.
        To be successful Social Engineering relies on six principles of influence established by Robert Cialdini.
    </p>
    <h3><u>The Six Principles</u></h3>
    <dl>
        <dt>Reciprocity</dt>
        <dd>- If someone is done a favour they tend to reciprocate and is a good tool for social engineering</dd>
        <dt>Commitment and Consistency</dt>
        <dd>- Similar to the previous principle if people commit verbally or in writing they are more likely to honor the commitment because they have stated the goal fits their self image or goal</dd>
        <dt>Social Proof</dt>
        <dd>- Similar to a herd mentality, people will tend to do things that other people are doing.</dd>
        <dt>Authority</dt>
        <dd>- People usually obey authority figures even if the figure asks them to perform immoral or questionable acts.</dd>
        <dt>Liking</dt>
        <dd>- People are more easily persuaded by people that they like. This also counts for sexual or romantic attraction.</dd>
        <dt>Scarcity</dt>
        <dd>- Percieved lack of time or items generates demand. Similar to limited time only sales.</dd>
    </dl>
    <p>Now that you know these principles you can keep an eye out for them in your workplace or outside of work. Which leads onto the next point about Security Culture in the workplace. </p>
    <h2><u>Security Culture in the Workplace</u></h2>
    <p>
        Employee behaviour is a major factor in Information security culture if they have a care free "thats not my problem" attitude then it has a big effect on information security.
        Lim, Chang, Maynard and Ahmad (2009) provide the following definition of information security culture: "ISC is the totality of patterns of behavior in an organization that contribute to the protection of information of all kinds."
        The ISC needs to be continuously improved and this can be achieved through 5 steps:Pre-evaluation, strategic planning, operative planning, implementation, and post-evaluation.


    </p>




</section>









<footer>
    <p>Cherry, K., 2020. How Cognitive Biases Influence How You Think And Act. [online] Verywell Mind. Available at: <https://www.verywellmind.com/what-is-a-cognitive-bias-2794963> [Accessed 31 March 2020].</p>    
    <br />
    <p>Lim, J., Chang, S., Maynard, S. and Ahmad, A., 2009. Exploring The Relationship Between Organizational Culture And Information Security Culture. [ebook] Perth: Edith Cowan University, p.88. Available at: <https://ro.ecu.edu.au/cgi/viewcontent.cgi?article=1011&context=ism> [Accessed 31 March 2020].</p>

    
    
    
    </footer>
