
@{
    ViewBag.Title = "SocialEngineeringThree";
}

<h1><u>The types of Social Engineering Attacks and how they work</u></h1>

<p>There are multiple forms of Social Engineering attacks and there are four key attacks which are the most common and effective. These are: Phishing, Vishing, Impersonation and Smishing. </p>

<br />

<h2><u>Phishing</u></h2>
<img class="img-responsive" src="~/images/Fishing.jpg" alt="Image of fishing">
<p>Phishing (not to be confused with fishing) is the most common technique and you are likely to have had an attempt come through your email inbox at some point in time. Phishing is used to fraudulently get confidential information.
    The Phisher sends an e-mail claiming to be a company (typically a bank) requesting confirmation of personal details. To make them panic and comply there is usually a warning of dire consquences should they fail to comply with the "verification". The email will contain a link 
    to a page that looks legitimate with the appropriate company logo and form layout. The form will have multiple fields to fill out which will include personal details and credit card information. Usually these emails are sent on a mass scale and even if they get a 1% success rate they can still gain a lot of data and money.
    </p>
<br />
<h2><u>Vishing</u></h2>
<img class="img-responsive" src="~/images/Vishing.png" alt="Image of a phone">
<p>A play on words of Phishing. Vishing is known as Voice Phishing and is not as common as phishing and for this reason it can catch people off guard. Where there is some sort of social engineering process taking place over the phone to gain financial information and private information. It can also be used by attackers to 'scout' an organisation and gain information on a targeted company.</p>
<h2><u>Smishing</u></h2>
<p>Another form of Phishing but as you may have guessed by now it is Text Message(SMS) Phishing. It is used to lure victims into providing information again usually through a link or request to respond to the text.</p>
<h2><u>Impersonation</u></h2>
<p>Simply put where someone impersonates a contractor or employee through voice, text or physical appearance in order to gain physical access to a building or a system.</p>

